.container {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    margin:auto;

}
.photo {
    width: 70%;
    height: 100%;
}
.button-left , .button-right{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    margin-top: -10%; 
    position: absolute;
    cursor: pointer;
    

}
.button-left {
    border-right:10px solid blue; 
    left: 0;
    margin-left: 30%;
    
}

.button-right {
    border-left: 10px solid blue;
    right: 0;
    margin-right: 30%;
    
    
} 