.container{
    border: 2px solid blanchedalmond;
    border-radius: 40px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(23 96 17 / 78%);
    



    
}
 h2{
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    color: aliceblue;
}
input{
    margin-left: 30%;
    padding: 7px 40px;
    font-size: large;
    color: #016ABC;
    border-radius: 30px;
}

#liste{
    color: aliceblue;
    font-size: x-large;
}

.button{
    padding: 7px 16px;
    gap: 10px;
    margin-left: 15px;
    border-radius: 30px;
    color: #016ABC;

}
.button:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #040404;
	text-shadow: none;
}